* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #1a1a1a;
    color: #f0f0f0;
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 200px;
    background: #111;
    border-right: 1px solid #2a2a2a;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    position: fixed;
    height: 100vh;
}

.sidebar h2 {
    color: #e24b4a;
    font-size: 16px;
    font-weight: 500;
    padding: 0 20px 20px;
    border-bottom: 1px solid #2a2a2a;
}

.sidebox {
    display: flex;
    flex-direction: column;
    padding: 12px 0;
}

.sidebox a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    color: #aaa;
    font-size: 13px;
    text-decoration: none;
    transition: background 0.2s, color 0.2s;
}

.sidebox a:hover,
.sidebox a.active {
    background: #2a1010;
    color: #e24b4a;
    border-left: 3px solid #e24b4a;
}

.sidebox a i {
    font-size: 13px;
    width: 16px;
    text-align: center;
}

.main {
    margin-left: 200px;
    flex: 1;
    padding: 24px;
    background: white;
}

.main h1 {
    font-size: 18px;
    font-weight: 500;
    color: black;
    margin-bottom: 20px;
    border-bottom: 1px solid #2a2a2a;
    padding-bottom: 12px;
}


.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

.card {
    background: #222;
    border: 1px solid #2a2a2a;
    border-radius: 6px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card .icon {
    font-size: 20px;
    color: #e24b4a;
}

.card h3 {
    font-size: 14px;
    font-weight: 500;
    color: #f0f0f0;
}

.card p {
    font-size: 12px;
    color: #888;
}