 body {
    margin: 0;
    font-family: Arial;
    background-image: url('../Authentication/bg_login.png');
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;  
    background-attachment: fixed;
}
body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    z-index: -1;
}

/* Sidebar */
.sidebar {
    width: 220px;
    height: 100vh;
    color: white;
    position: fixed;
    padding: 20px;
}

.sidebar h2 {
    color: #D53E0F;
    margin-left: 10px;
}

.sidebar a {
    display: block;
    color: #ccc;
    text-decoration: none;
    margin: 12px 0;
    font-size: 18px;
    padding: 10px;
    border-radius: 6px;
    transition: 0.3s;
}

.sidebar a:hover,
.sidebar a.active {
    background: #D53E0F;
    color: white;
}

/* Layout */
.main {
    margin-left: 240px;
    padding: 20px;
}

/* Cards */
.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

/* Grid */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin: 20px;
}

/* Icons */
.icon {
    font-size: 30px;
    color: #D53E0F;
}

/* Header */
h1 {
    margin-left: 20px;
    color: #fff;
}
