
    body {
        font-family: Arial;
        background: #f4f6f9;
        margin: 0;
    }

    .container {
        max-width: 500px;
        margin: 50px auto;
        background: white;
        padding: 20px;
        border-radius: 10px;
    }

    input, select, button {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
    }

    button {
        background: #D53E0F;
        color: white;
        border: none;
        cursor: pointer;
    }

    .logout_cashier{
        position:absolute;
        top:20px;
        right:40px;
    }

    .logout{
        font-size: 18px;
    }
    
    /* .logout_cashier img{
        width:30px;
        position:absolute;
    } */

    .logout i{
        padding-right:5px;
    }

    a{
        text-decoration: none;
        color:white;
    }

    .logout:hover{
        background:darkred;
        transition: .4s ease;
    }

    .weight{
        width:95%;
    }
